@import url("Cores.css");

.coluna {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 16px);
}

.linha {
  display: flex;
  flex-direction: row;
  gap: var(--gap, 16px);
}

@media (max-width: 768px) {
  .alt_li {
    flex-direction: column;
  }
}

.flex {
  flex: 1;
}

.corAzul {
  color: var(--Azul-principal);
}
.corPreta40B {
  color: var(--Preto40B);
}
.corPreta50B {
  color: var(--Preto50B);
}
.corCinza100B {
  color: var(--Cinza100B);
}
.corCinza80B {
  color: var(--Cinza80B);
}
.corCinza70B {
    color: var(--Cinza70B);
}
.corCinza60B {
  color: var(--Cinza60B);
}
.corVermelha {
  color: var(--Vermelho);
}
.corVerde {
  color: var(--Verde);
}
