.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 8px;
}

    .grid h4 {
        white-space: nowrap; /* impede quebra de linha */
        overflow: hidden; /* esconde o que passa da largura */
        text-overflow: ellipsis; /* coloca os três pontos (...) */
    }

.QuadroCards_List {
    height: fit-content;
    padding: 24px;
    background-color: var(--Branco);
    border-left: solid 4px var(--Azul-principal);
    border-radius: 10px;
    transition: all 0.2s ease;
}

    .QuadroCards_List:hover {
        border-left: solid 4px var(--Azul60S);
        background-color: var(--Azul10S);
        transform: scale(1.02) translateY(-1.5px);
    }

.cur_porcVerd {
    background-color: var(--verde_trasparente);
    border-radius: 20px;
    padding: 4px 8px 4px 4px;
    color: var(--Cinza80B)
}
.cur_porcVerm {
    background-color: var(--vermelho_transparenre);
    border-radius: 20px;
    padding: 4px 8px 4px 4px;
    color: var(--Cinza80B)
}

.cur_porcAzul {
  background-color: var(--Azul10S);
  border-radius: 20px;
  padding: 4px 8px 4px 4px;
  color: var(--Cinza80B)
}

.cur_porcFont {
  font-family: "Inter", sans-serif;
  font-size: 10pt;
  font-weight: 600;
}

.dark .cur_porcAzul,
.dark .cur_porcVerd,
.dark .cur_porcVerm {
    color: #9197A7
}

.op_filtro input {
    display: none;
}

.op_filtro span {
    padding: 6px 12px;
    background-color: var(--Azul10S);
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    color: var(--Cinza70B);
    transition: all 0.2s ease;
    display: inline-block;
}

.dark .op_filtro span {
    background-color: var(--Cinza90B);
}

.op_filtro input:checked + span {
    border: 1px solid var(--Azul-principal);

    color: var(--Azul-principal);
}




