@import url("Cores.css");

.CardsEngajamento {
  flex: 1;
  align-items: center;
}

.QuantAlunos {
  height: fit-content;
  width: 260px;
  padding: 24px;
  background-color: var(--Preto40B);
  border-radius: 8px;
  align-items: center;
}

.iconEscuro {
  border-radius: 8px;
  height: 54px;
  width: 54px;
  background-color: var(--Preto50B);
  justify-content: center;
  align-items: center;
  display: flex;
}

.iconVerde {
  border-radius: 8px;
  height: 54px;
  width: 54px;
  background-color: var(--verde_trasparente);
  justify-content: center;
  align-items: center;
  display: flex;
}
.iconVermelho {
  border-radius: 8px;
  height: 54px;
  width: 54px;
  background-color: var(--vermelho_transparenre);
  justify-content: center;
  align-items: center;
  display: flex;
}

.iconAzul {
  border-radius: 8px;
  height: 54px;
  width: 54px;
  background-color: var(--Azul10S);
  justify-content: center;
  align-items: center;
  display: flex;
}

.iconAzul02 {
  border-radius: 8px;
  height: 54px;
  width: 54px;
  background-color: var(--Azul-principal);
  justify-content: center;
  align-items: center;
  display: flex;
}

.Unidades {
  width: 260px;
  height: 100%;
  overflow: hidden;
}

.grafContainer {
  position: relative;
  width: 10px;
  height: 100%;
  overflow: hidden;
}

.grafContainer:hover .grafAzul {
  transform: scale(1.03);
}

.grafContainer:hover .grafCinza {
  background-color: var(--Azul10S);
}

.grafCinza {
  width: 10px;
  height: 100%;
  background-color: var(--Cinza100B);
  border-radius: 6px;
}

.grafAzul {
  position: absolute;
  bottom: 0;
  width: 10px;
  background-color: var(--Azul-principal);
  border-radius: 6px;
  animation: preencherAzul 1s ease-in-out forwards;
}

@keyframes preencherAzul {
  from {
    height: 0%;
  }
  to {
    height: var(--Porcentagem, 50%);
  }
}

.tabela-card {
  font-family: "Inter";
  font-size: 12pt;
  font-weight: 600;
  color: var(--Cinza70B);
  text-decoration: none;
}

.tabela-card a {
  color: var(--Cinza70B);
  text-decoration: none;
}

.tabela-card tr:hover a {
  color: var(--Azul-principal);
}

.tabela-card table {
  width: 100%;
  border-collapse: collapse;
}

.tabela-card thead th {
  text-align: left;
  font-weight: bold;
}
    .tabela-card td,
    .tabela-card th {
        padding: 8px;
        width: fit-content;
    }

.tabela-card tr {
  border-radius: 20px;
}

.tabela-card tr:hover {
  background-color: var(--Cinza100B);
}

    .tabela-card th:last-child {
        align-items:end;
        text-align: right;
        font-weight: bold;
    }

.tabela-card td:last-child {
  text-align: right;
  font-weight: bold;
}

.bot_tab {
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--Cinza60B);
}



.tabela-card td:first-child {
    color: var(--Azul-principal);
    font-weight: 800;
    width: 10px;
}

.caixaProgresso {
  display: flex;
  width: 100%;
  background-color: var(--Cinza100B);
  height: 12px;
  border-radius: 26px;
  padding: 2px;
}

.barraProgresso {
  display: flex;
  width: var(--Porcentagem, 50%);
  height: 100%;
  background-color: var(--Azul-principal);
  animation: preencher 1s ease-in-out forwards;
  border-radius: 26px;
}

@keyframes preencher {
  from {
    width: 0%;
  }
  to {
    width: var(--Porcentagem, 50%);
  }
}
.titProgresso {
  font-family: "Inter";
  font-size: 12pt;
  font-weight: 600;
  color: var(--Cinza70B);
  text-decoration: none;
}

.unid {
  margin-top: 16px;
  margin-bottom: 16px;
}
.graf_caixa {
  width: 400px;
}

@media (max-width: 768px) {
  .CardsEngajamento {
    flex-direction: column;
    gap: 24px;
  }
  .QuantAlunos {
    width: 100%;
  }
  .engag {
    width: 100%;
  }
  .GraficoEvolucao {
    flex-direction: column;
  }
  .Unidades {
    width: 100%;
  }
  .graf_caixa {
    width: 100%;
  }
  #graf01 {
    width: 100%;
  }
}
