/*NAV*/
nav {
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.links_nav a {
  text-decoration: none;
  font-size: 10pt;
  font-weight: 500;
  color: var(--Cinza80B);
}

.links_nav a:hover {
  color: var(--Azul-principal);
}

.icon_perfil {
  display: flex;
  height: 40px;
  width: 40px;
  background-color: var(--Azul-principal);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}
.icon_perfil span {
  font-size: 12pt;
  color: var(--Branco);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

/* CONTAINER PRINCIPAL */
.playground {
  position: relative;
  flex: 1;

  background-color: var(--Cinza100B);

  border-radius: 10px;
  overflow: hidden; /* Esconde o que sair da área */
}

.scroll-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  height: 100%;
  overflow-y: auto;
  flex: 1;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scroll-content::-webkit-scrollbar {
  display: none;
}

.sobreposicao_inferior {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: linear-gradient(
    to top,
    rgba(239, 242, 250, 0.8),
    rgba(239, 242, 250, 0)
  );
  z-index: 2;
}

.QuadroCards {
  height: fit-content;
  padding: 24px;
  background-color: var(--Branco);
  border: solid 1px #e0e9ff;
  border-radius: 10px;
}

.welcome {
  gap: 16px;
  height: fit-content;
}

.botaoatualiza {
  background-color: var(--Branco);
  color: var(--Azul-principal);
  border: none;
  padding: 12px 32px 12px 32px;
  display: flex;
  flex-direction: row;
  height: fit-content;
  border-radius: 42px;
}

/*ENDERENÇO*/
.Endereco span,
.Endereco a {
  color: var(--Cinza80B);
  text-decoration: none;
  font-weight: 500;
}

.Endereco a:hover {
  color: var(--Azul-principal);
}

/*IMPUT DA IA OU DE PESQUISA*/
.ImputIA {
  height: fit-content;
  padding: 12px 12px 12px 24px;
  background-color: var(--Branco);
  border: solid 1px #e0e9ff;
  border-radius: 112px;
  align-items: center;
}

    .ImputIA:hover {
        border: solid 1px var(--Azul-principal);
    }

.ImputIA input {
  background-color: transparent;
  border: none;
  width: 100%;
  outline: none;
}

.ImputIA:has(input:focus) {
  background-color: var(--Azul10S);
  border: solid 1px var(--Azul-principal);
}

    .ImputIA a, .ImputIA button {
        color: var(--Branco);
        background: linear-gradient(to right, var(--Azul-principal), var(--Azul40S));
        background-size: 200% 100%;
        background-position: 0% 0%;
        border: none;
        padding: 12px 32px;
        display: flex;
        flex-direction: row;
        height: fit-content;
        border-radius: 42px;
        transition: background-position 0.3s ease;
        animation: pulsarAzul 1.5s infinite alternate;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-size: 10pt;
        font-style: normal;
        font-weight: Bold;
        text-transform: uppercase;
        text-decoration: none;
    }


.ImputIA:hover button {
  animation: pulsarAzul 1.5s infinite alternate;
}

@keyframes pulsarAzul {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}

ul, ol {
    padding-left: 2rem; /* Equivale a um tab */
}

@media (max-width: 768px) {
  .Endereco {
    display: none;
  }
  .sobreposicao_inferior {
    display: none;
  }
  .subH1 {
    font-size: 12pt;
  }
  .links_nav {
    width: 100%;
    overflow: hidden;
  }
  .ImputIA img {
    display: none;
  }
  .scroll-content {
    padding: 24px 12px 12px 12px;
  }
  .welcome {
    flex-direction: column;
  }
  .welcome button {
    width: fit-content;
  }
  .icon_perfil {
    display: none;
  }
}

