@import "tailwindcss";

:root {
  --primary-color: #003de5;
  --blue-40B: #001b66;
  --blue-50B: #002280;
  --blue-60B: #002899;
  --blue-70B: #002fb2;
  --blue-80B: #0036cc;
  --blue-60S: #668eff;
  --blue-40S: #99b4ff;
  --blue-30S: #b2c7ff;
  --blue-20S: #ccd9ff;
  --blue-10S: #e5ecff;

  --neutral-40B: #232633;
  --neutral-50B: #495580;
  --neutral-60B: #6b7799;
  --neutral-70B: #8f98b2;
  --neutral-80B: #abb4cc;
  --neutral-90B: #cfd5e5;
  --neutral-100B: #eff2fa;
  --white: #fff;  
}

* {  
  font-family: var(--font-inter);  
}

