@page
@model Front.Pages.AlunosModel
@using Front.Models
@{
}


<header class="linha welcome" style="justify-content: space-between">
    <div class="coluna" style="--gap: 10px">
        <span class="SubH1 corAzul">Bem Vindo</span>
        <h1 class="corPreta40B">Alunos</h1>
    </div>
    <button onclick="location.reload()" class="botaoatualiza">Atualizar</button>
</header>
<div class="dashboard coluna" style="--gap: 20px">
    <div class="ImputIA linha">
        <img src="~/css/icons/Lupa.svg" width="18" height="18" />
        <input type="text" id="filtroCursos" onkeyup="filtrarCursos()" class="input-filtro" name="nome" placeholder="O que você procura?" />
        <button onclick="filtrarCursos()">Pesquisar</button>
    </div>

    <div class="tabela-card QuadroCards" style="padding: 0; overflow: hidden">
        <table id="tabelaAlunos" style="width: 100%; border-collapse: collapse">
            <thead>
                <tr>
                    <th style="width: 5%; text-align: left;">
                        <span class="bot_tab">#</span>
                    </th>
                    <th style="width: 45%; text-align: left;">
                        <button onclick="ordenarTabela(1)" class="bot_tab">
                            Nome <img src="~/css/icons/Ordenar.svg" />
                        </button>
                    </th>
                    <th style="width: 50%; text-align: left;">
                        <button onclick="ordenarTabela(2)" class="bot_tab">
                            Último Acesso <img src="~/css/icons/Ordenar.svg" />
                        </button>
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    System.Globalization.CultureInfo.CurrentCulture = new System.Globalization.CultureInfo("pt-BR");
                    int i = 0;

                    foreach (Usuario al in Model.users.OrderBy(c => c.name))
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>
                                <a asp-page="/PerfilAluno" asp-route-userId="@al.user_id">
                                    @al.name
                                </a>
                            </td>
                            <td>
                                @{
                                    var data = DateTime.Parse(al.user_lastaccess);
                                    var dataFormatada = $"Dia {data:dd} do mês de {data:MMMM} de {data:yyyy} às {data:HH:mm}";
                                }
                                @dataFormatada
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

</div>
<script>
    function filtrarCursos() {
        const filtro = document.getElementById("filtroCursos").value.toLowerCase();
        const linhas = document.querySelectorAll("#tabelaAlunos tbody tr");

        linhas.forEach(linha => {
            const nome = linha.querySelector("td:nth-child(2)")?.innerText.toLowerCase();
            if (nome.includes(filtro)) {
                linha.style.display = "";
            } else {
                linha.style.display = "none";
            }
        });
    }
</script>