.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
  background-color: #EEF2FA;
  gap: 16px;
  padding: 24px;  
}

.right {
  grid-column: 8 / span 5;
  background: linear-gradient(219.69deg, #FFF5CC 0%, #668EFF 100.82%);
  border-radius: 16px;
}

.logo {
  width: 250px;
  font-style: bold;
}

.left {
  grid-column: 2 / span 5;
  display: flex;
  justify-content: center;
  align-items: center;    
  flex-direction: column;
  gap: 40px;
}
.textform{
  text-align: center;
  display: flex;  
  align-items: center;    
  flex-direction: column;
  gap: 40px;
}
.textform img{
  width: 180px;
}
.textform h2{
  font-size: 40px;
  font-weight: 600;
  color:#232633;
}
.textform p{
  color: #6b7799;
  font-weight: 600;
}

.form {  
  width: 100%;
  display: flex;
  flex-direction: column;  
}

.form h1 {
  margin-bottom: 30px;
}
.form label{
  color: #6b7799;
  font-weight: 600;
}

.form input {
  width: 100%;
  padding: 14px;
  margin-bottom: 16px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 40px;
  height: 64px;
  font-size: 16px;
}

.buttons {
  display: flex;
  gap: 16px;
  margin-top: 16px;
}

.buttons button {
  flex: 1;
  height: 64px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.loginButton {
  border: none;
  background: #2563eb;
  color: #fff;
}

.loginButton:hover {
  background: #1d4ed8;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;  
  border: 1px solid #8F98B2;
  color: #495580;
  font-size: 16px ;
  font-weight: 600;
}

.googleButton img {
  width: 20px;
  height: 20px;
}
.divider {
  margin: 32px 0 24px;
  border: none;
  border-top: 1px solid #d8dce6;
}

.register {
  text-align: center;
  color: #6b7799;
  font-size: 15px;
}

.register a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 600;
}


@media (max-width: 768px) {
    .container {
    display: flex;
    padding: 16px;
  }

  .right {
    display: none;
  }

  .left {
    width: 100%;
  }

  .buttons {
    flex-direction: column;
  }

  .buttons button {
    min-height: 48px;
    width: 100%;
  }

}