<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Front</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel=" stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>



<body>


        <nav class="linha">
            <div class="linha" style="gap: 52px">
                <a asp-area="" asp-page="/Index"><img src="~/css/icons/PrevUni.svg" /></a>
                <div class="linha links_nav" style="gap: 24px">
                    <a asp-area="" asp-page="/Index">Cursos</a>
                    <a asp-area="" asp-page="/Index">Alunos</a>
                </div>
            </div>
            <div>
                <div class="icon_perfil">
                    <span>CB</span>
                </div>
            </div>
        </nav>

 


    
        <main class="playground">
            <div class="sobreposicao_inferior"></div>
            <div class="scroll-content">
                @RenderBody()
            </div>
        </main>

</body>
</html>