<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Front</title>
    <link href="https://font s.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet" />
    <link rel=" stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>



<body>

    <header>
        <nav class="linha">
            <div class="linha" style="gap: 52px">
                <a asp-area="" asp-page="/Index"><img src="~/css/icons/PrevUni.svg" /></a>
                <div class="linha links_nav" style="gap: 24px">
                    <a asp-area="" asp-page="/Index">Cursos</a>
                    <a asp-area="" asp-page="/Index">Alunos</a>
                </div>
            </div>
            <div>
                <div class="icon_perfil">
                    <span>CB</span>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>