.footer{
  width: 100%;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  
}
.footer p{
  color: #6B7799;
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
}

.footer img{
  width: 80px;
  height: 16px;
}